/* Accordion -------------------------------------------------- */
.p-accordion .p-accordion-tab {
  margin-bottom: 8px;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: 0;
  box-shadow: none;
  background-color: #fff;
  border-radius: 12px;
}

.p-accordion .p-accordion-content {
  border: 0;
  border-radius: 0 0 12px 12px;
  padding: 0 16px 12px 16px;
}

.p-accordion .p-accordion-content p {
  margin: 0;
}

.p-accordion-header-text {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  order: 2;
}

.p-accordion-header.p-highlight .p-accordion-header-link {
  border-radius: 12px 12px 0 0;
}

/* Sidebar ---------------------------------------------------- */
.p-sidebar {
  width: 230px;
}

.p-sidebar-header {
  display: none;
}

.p-sidebar-content {
  width: 230px;
  padding: 0;
}

/* Select(Dropdown)------------------------------------------------*/
.p-dropdown-panel.p-component {
  margin-top: 4px;
}
.p-dropdown-items-wrapper {
  width: 100%;
  border-radius: 6px;
  /* border:1px solid red; */
}
.p-dropdown-item{
  padding:12px;
}
.p-dropdown-item:hover {
  background: #ddd;
}